<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_ICobroChequeService" />
                <binding name="BasicHttpBinding_IEmpresaService" />
                <binding name="BasicHttpBinding_IPagoServicioService" />
                <binding name="BasicHttpBinding_IRecaudosService" />
                <binding name="BasicHttpBinding_ITipoMonedaService" />
                <binding name="BasicHttpBinding_ITipoMovimientoService" />
                <binding name="BasicHttpBinding_IVentanillaService" />
                <binding name="BasicHttpBinding_IBancoService" />
                <binding name="BasicHttpBinding_IComponenteService" />
                <binding name="BasicHttpBinding_IHorariosAtencionService" />
                <binding name="BasicHttpBinding_IPermisosUsuarioService" />
                <binding name="BasicHttpBinding_IPersonaService" />
                <binding name="BasicHttpBinding_IRolesService" />
                <binding name="BasicHttpBinding_IRolUsuarioService" />
                <binding name="BasicHttpBinding_ISucursalService" />
                <binding name="BasicHttpBinding_ITipoDocumentoService" />
                <binding name="BasicHttpBinding_ITurnosService" />
                <binding name="BasicHttpBinding_ITurnoUsuarioService" />
                <binding name="BasicHttpBinding_ICuentaService" />
                <binding name="BasicHttpBinding_ICajaChicaService" />
                <binding name="BasicHttpBinding_IDetalleCajaChicaService" />
                <binding name="BasicHttpBinding_IPrestamoService" />
                <binding name="BasicHttpBinding_IFechaHoraServerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50753/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1" name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:50786/SistemaBancario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICobroChequeService" contract="WsSistemaBancario.ICobroChequeService" name="BasicHttpBinding_ICobroChequeService" />
            <endpoint address="http://localhost:50786/SistemaBancario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmpresaService" contract="WsSistemaBancario.IEmpresaService" name="BasicHttpBinding_IEmpresaService" />
            <endpoint address="http://localhost:50786/SistemaBancario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPagoServicioService" contract="WsSistemaBancario.IPagoServicioService" name="BasicHttpBinding_IPagoServicioService" />
            <endpoint address="http://localhost:50786/SistemaBancario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecaudosService" contract="WsSistemaBancario.IRecaudosService" name="BasicHttpBinding_IRecaudosService" />
            <endpoint address="http://localhost:50786/SistemaBancario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITipoMonedaService" contract="WsSistemaBancario.ITipoMonedaService" name="BasicHttpBinding_ITipoMonedaService" />
            <endpoint address="http://localhost:50786/SistemaBancario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITipoMovimientoService" contract="WsSistemaBancario.ITipoMovimientoService" name="BasicHttpBinding_ITipoMovimientoService" />
            <endpoint address="http://localhost:50786/SistemaBancario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVentanillaService" contract="WsSistemaBancario.IVentanillaService" name="BasicHttpBinding_IVentanillaService" />
            <endpoint address="http://localhost:50786/SistemaBancario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBancoService" contract="WsSistemaBancario.IBancoService" name="BasicHttpBinding_IBancoService" />
            <endpoint address="http://localhost:50786/SistemaBancario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IComponenteService" contract="WsSistemaBancario.IComponenteService" name="BasicHttpBinding_IComponenteService" />
            <endpoint address="http://localhost:50786/SistemaBancario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHorariosAtencionService" contract="WsSistemaBancario.IHorariosAtencionService" name="BasicHttpBinding_IHorariosAtencionService" />
            <endpoint address="http://localhost:50786/SistemaBancario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPermisosUsuarioService" contract="WsSistemaBancario.IPermisosUsuarioService" name="BasicHttpBinding_IPermisosUsuarioService" />
            <endpoint address="http://localhost:50786/SistemaBancario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonaService" contract="WsSistemaBancario.IPersonaService" name="BasicHttpBinding_IPersonaService" />
            <endpoint address="http://localhost:50786/SistemaBancario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRolesService" contract="WsSistemaBancario.IRolesService" name="BasicHttpBinding_IRolesService" />
            <endpoint address="http://localhost:50786/SistemaBancario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRolUsuarioService" contract="WsSistemaBancario.IRolUsuarioService" name="BasicHttpBinding_IRolUsuarioService" />
            <endpoint address="http://localhost:50786/SistemaBancario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISucursalService" contract="WsSistemaBancario.ISucursalService" name="BasicHttpBinding_ISucursalService" />
            <endpoint address="http://localhost:50786/SistemaBancario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITipoDocumentoService" contract="WsSistemaBancario.ITipoDocumentoService" name="BasicHttpBinding_ITipoDocumentoService" />
            <endpoint address="http://localhost:50786/SistemaBancario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITurnosService" contract="WsSistemaBancario.ITurnosService" name="BasicHttpBinding_ITurnosService" />
            <endpoint address="http://localhost:50786/SistemaBancario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITurnoUsuarioService" contract="WsSistemaBancario.ITurnoUsuarioService" name="BasicHttpBinding_ITurnoUsuarioService" />
            <endpoint address="http://localhost:50786/SistemaBancario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICuentaService" contract="WsSistemaBancario.ICuentaService" name="BasicHttpBinding_ICuentaService" />
            <endpoint address="http://localhost:50786/SistemaBancario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICajaChicaService" contract="WsSistemaBancario.ICajaChicaService" name="BasicHttpBinding_ICajaChicaService" />
            <endpoint address="http://localhost:50786/SistemaBancario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDetalleCajaChicaService" contract="WsSistemaBancario.IDetalleCajaChicaService" name="BasicHttpBinding_IDetalleCajaChicaService" />
            <endpoint address="http://localhost:50786/SistemaBancario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrestamoService" contract="WsSistemaBancario.IPrestamoService" name="BasicHttpBinding_IPrestamoService" />
            <endpoint address="http://localhost:50786/SistemaBancario.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFechaHoraServerService" contract="WsSistemaBancario.IFechaHoraServerService" name="BasicHttpBinding_IFechaHoraServerService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
